@page "/access-denied"

<PageTitle>Access Denied - Petal &amp; Bloom</PageTitle>

<h1>Access Denied</h1>

<p class="lead">
    You do not have permission to view this page.
</p>

<p>
    <a href="/" class="btn btn-primary">Back to Home</a>
    <a href="/login" class="btn btn-outline-primary ms-2">Log In</a>
</p>
